* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #984d38 0%, #181e38 65%);
}

nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 30px 0 0 51px;
}
nav h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c5dd3;
}
nav .input_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 48px;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 50px;
  padding-left: 15px;
  margin: 0 40px 0 40px;
}
nav .input_nav i {
  font-size: 21px;
}
nav .input_nav input {
  width: 310px;
  height: 48px;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  margin-left: 10px;
}
nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #ffffff;
}
nav .links a {
  text-decoration: none;
  color: #ffffff;
}
nav .links select {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  outline: none;
  margin-right: 55px;
}
nav .links select option {
  padding-bottom: 10px;
  background: #181e38;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 0.5px solid #ffffff;
  margin-bottom: 10px;
}
nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}
nav .icons i {
  font-size: 21px;
}
nav .icons button {
  width: 108px;
  height: 38px;
  background: transparent;
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}
nav .icons select {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
}

.head {
  width: 993px;
  height: 55px;
  gap: 73.54px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .line {
  width: 993px;
  height: 0.5px;
  background: rgba(255, 255, 255, 0.1254901961);
  position: absolute;
}
.head .active {
  width: 201px;
  height: 55px;
  background: #6c5dd3;
  border: none;
  border-radius: 208.71px;
  color: #ffffff;
  gap: 13px;
  padding: 13px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 100%;
  letter-spacing: 0%;
  position: relative;
}
.head .inactive {
  width: 201px;
  height: 55px;
  background: #493e52;
  border: none;
  border-radius: 208.71px;
  gap: 13px;
  padding: 13px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  position: relative;
}

.main {
  width: 100%;
  height: 517px;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 140px;
  margin-bottom: 115px;
}
.main .text h1 {
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 135%;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #ffffff;
}
.main .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 35px;
}
.main .text .buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.main .text .buttons button:nth-child(1) {
  width: 161px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.main .text .buttons button:nth-child(2) {
  width: 109px;
  height: 50px;
  background: rgba(255, 255, 255, 0.062745098);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.main .text .brands {
  display: flex;
  gap: 65px;
  margin-bottom: 36px;
}
.main .text .brands h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.main .text .brands p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.main .img {
  display: flex;
  justify-content: center;
}
.main .img div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .img img {
  margin: 7px;
}
.main .img img:hover {
  scale: 0.95;
}
.main .img .image3 {
  position: absolute;
  left: 800px;
}
.main .img .image7 {
  position: absolute;
  left: 1010px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
}

.aboutus {
  margin-top: 104px;
  margin-bottom: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.aboutus h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.aboutus p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 120px;
}
.section-2 div h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-2 div p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-top: 20px;
  margin-bottom: 50px;
}
.section-2 div button {
  width: 161px;
  height: 54px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
  font-weight: 600;
  color: #ffffff;
  border: none;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 157px;
}
.collection h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.collection p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-top: 20px;
  margin-bottom: 63px;
}
.collection .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 210px;
}
.collection .cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-3 .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.section-3 .buttons button {
  width: 220px;
  height: 40px;
  background: rgba(255, 255, 255, 0.062745098);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}
.section-3 .buttons button:hover {
  background: linear-gradient(to right, #b75cff, #671ae4);
  color: #ffffff;
}
.section-3 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-3 .cards .card {
  width: 389px;
  height: 595px;
  background: rgba(255, 255, 255, 0.062745098);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 26px;
  margin-bottom: 15px;
}
.section-3 .cards .card img {
  width: 337px;
  height: 380px;
  margin-bottom: 20px;
}
.section-3 .cards .card .text-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-3 .cards .card .text-slide div h1 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.section-3 .cards .card .text-slide div p {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-3 .cards .card .text-slide .left h1 {
  margin-bottom: 10px;
}
.section-3 .cards .card .text-slide .right h1 {
  font-size: 15px;
}
.section-3 .cards .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
.section-3 .cards .card .btn .bx {
  font-size: 25px;
  color: #ffffff;
}
.section-3 .cards .card .btn button {
  width: 291px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px 0px 150px 0px;
  text-align: center;
}
.section-4 h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-4 p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5);
  margin: 15px 0px 30px 0px;
}
.section-4 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section-4 .cards .card {
  width: 389px;
  height: 595px;
  background: rgba(255, 255, 255, 0.062745098);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 26px;
  margin-bottom: 15px;
}
.section-4 .cards .card img {
  width: 337px;
  height: 380px;
  margin-bottom: 20px;
}
.section-4 .cards .card .text-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-4 .cards .card .text-slide div h1 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5019607843);
}
.section-4 .cards .card .text-slide div p {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.section-4 .cards .card .text-slide .left h1 {
  margin-bottom: 10px;
}
.section-4 .cards .card .text-slide .right h1 {
  font-size: 15px;
}
.section-4 .cards .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
.section-4 .cards .card .btn .bx {
  font-size: 25px;
  color: #ffffff;
}
.section-4 .cards .card .btn button {
  width: 291px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-5 h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
.section-5 p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
  margin-bottom: 30px;
}
.section-5 .cards {
  display: flex;
  gap: 15px;
}
.section-5 .cards .card1 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-5 .cards .card1 img {
  width: 389px;
  height: 261px;
}
.section-5 .cards .card1 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-5 .cards .card1 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-5 .cards .card1 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-5 .cards .card1 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-5 .cards .card1 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-5 .cards .card1 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-5 .cards .card1 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-5 .cards .card1 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-5 .cards .card1:hover {
  background: rgba(47, 52, 84, 0.4);
}
.section-5 .cards .card2 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-5 .cards .card2 img {
  width: 389px;
  height: 261px;
}
.section-5 .cards .card2 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-5 .cards .card2 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-5 .cards .card2 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-5 .cards .card2 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-5 .cards .card2 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-5 .cards .card2 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-5 .cards .card2 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-5 .cards .card2 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-5 .cards .card2:hover {
  background: rgba(47, 52, 84, 0.4);
}
.section-5 .cards .card3 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-5 .cards .card3 img {
  width: 389px;
  height: 261px;
}
.section-5 .cards .card3 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-5 .cards .card3 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-5 .cards .card3 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-5 .cards .card3 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-5 .cards .card3 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-5 .cards .card3 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-5 .cards .card3 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-5 .cards .card3 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-5 .cards .card3:hover {
  background: rgba(47, 52, 84, 0.4);
}

.section-6 {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section-6 h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
.section-6 p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
  margin-bottom: 30px;
}
.section-6 .cards {
  display: flex;
  gap: 15px;
}
.section-6 .cards .card1 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-6 .cards .card1 img {
  width: 389px;
  height: 261px;
}
.section-6 .cards .card1 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-6 .cards .card1 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-6 .cards .card1 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-6 .cards .card1 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-6 .cards .card1 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-6 .cards .card1 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-6 .cards .card1 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-6 .cards .card1 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-6 .cards .card1:hover {
  background: rgba(47, 52, 84, 0.4);
}
.section-6 .cards .card2 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-6 .cards .card2 img {
  width: 389px;
  height: 261px;
}
.section-6 .cards .card2 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-6 .cards .card2 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-6 .cards .card2 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-6 .cards .card2 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-6 .cards .card2 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-6 .cards .card2 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-6 .cards .card2 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-6 .cards .card2 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-6 .cards .card2:hover {
  background: rgba(47, 52, 84, 0.4);
}
.section-6 .cards .card3 {
  border-radius: 10px;
  width: 389px;
  text-align: center;
}
.section-6 .cards .card3 img {
  width: 389px;
  height: 261px;
}
.section-6 .cards .card3 .text {
  width: 389px;
  height: 264px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-6 .cards .card3 .text img {
  width: 99px;
  height: 99px;
  margin-top: -50px;
  margin-bottom: 15px;
}
.section-6 .cards .card3 .text .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-6 .cards .card3 .text .name h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 15px;
}
.section-6 .cards .card3 .text .name img {
  width: 17px;
  height: 17px;
  margin-bottom: -33px;
}
.section-6 .cards .card3 .text p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
}
.section-6 .cards .card3 .text button {
  width: 337px;
  height: 50px;
  background: linear-gradient(to right, #b75cff, #671ae4);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 32px;
}
.section-6 .cards .card3 .text button:hover {
  color: linear-gradient(to right, #b75cff, #671ae4);
  border: 2px solid linear-gradient(to right, #b75cff, #671ae4);
}
.section-6 .cards .card3:hover {
  background: rgba(47, 52, 84, 0.4);
}

.section-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 150px;
}
.section-7 h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
.section-7 p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3137254902);
  margin-bottom: 50px;
}
.section-7 .cards {
  display: flex;
}
.section-7 .cards .card {
  display: flex;
  flex-direction: column;
}
.section-7 .cards .card input {
  width: 591px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: rgba(255, 255, 255, 0.3137254902);
  background: transparent;
  outline: none;
}
.section-7 .cards .card span {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.3137254902);
  position: relative;
  left: -20px;
}

.section-8 {
  width: 1197px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, #b75cff, #671ae4);
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-8 h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
.section-8 button {
  width: 155px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3137254902);
  border: none;
  border-radius: 10px;
}

footer {
  width: 100%;
  padding: 130px 122px 40px 122px;
  display: flex;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
}
footer .logo h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c5dd3;
  margin-bottom: 20px;
}
footer .logo p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
}
footer .about h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .about p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .company h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .company p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .contact h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .contact p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
footer .contact span .bx {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.5098039216);
}/*# sourceMappingURL=index.css.map */