@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #984d38 0%, #181e38 65%);
}

nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 30px 0 0 51px;
}
nav h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c5dd3;
}
nav .input_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 48px;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 50px;
  padding-left: 15px;
  margin: 0 40px 0 40px;
}
nav .input_nav i {
  font-size: 21px;
}
nav .input_nav input {
  width: 310px;
  height: 48px;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  margin-left: 10px;
}
nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #ffffff;
}
nav .links a {
  text-decoration: none;
  color: #ffffff;
}
nav .links select {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;
  outline: none;
  margin-right: 55px;
}
nav .links select option {
  padding-bottom: 10px;
  background: #181e38;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 0.5px solid #ffffff;
  margin-bottom: 10px;
}
nav .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}
nav .icons i {
  font-size: 21px;
}
nav .icons button {
  width: 108px;
  height: 38px;
  background: transparent;
  border: 0.5px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}
nav .icons select {
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
}

.top {
  width: 993px;
  height: 54.83px;
  display: flex;
  margin-top: 60px;
  margin-left: 223px;
}
.top .line1 {
  width: 177.51px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 29px;
}
.top .left {
  width: 300px;
  height: 54.83px;
  border-radius: 206.71px;
  background: linear-gradient(#B75CFF, #671AE4);
}
.top .left h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18.78px;
  line-height: 100%;
  color: #fff;
  margin: 0;
  margin-top: 18px;
  margin-left: 59.5px;
}
.top .line2 {
  width: 90px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 29px;
}
.top .right {
  width: 300px;
  height: 54.83px;
  background-color: #493E52;
  border-radius: 206.71px;
}
.top .right h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18.78px;
  line-height: 100%;
  color: #fff;
  margin: 0;
  margin-top: 18px;
  margin-left: 73px;
}
.top .line3 {
  width: 177.51px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 29px;
}

.spa-1 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 60px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-top: 130.17px;
}

.top_main .text {
  width: 133px;
  height: 41px;
}
.top_main .text h1 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 2%;
  color: #fff;
  margin-left: 80px;
}
.top_main .cards1 {
  width: 1219px;
  height: 370px;
  margin-top: 120px;
  margin-left: 120px;
  display: flex;
}
.top_main .cards1 .card1 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
}
.top_main .cards1 .card1 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.top_main .cards1 .card1 img {
  margin-top: 5px;
}
.top_main .cards1 .card1 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.top_main .cards1 .card1 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.top_main .cards1 .card1 .title span {
  margin-left: 13px;
}
.top_main .cards1 .card2 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.top_main .cards1 .card2 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.top_main .cards1 .card2 img {
  margin-top: 5px;
}
.top_main .cards1 .card2 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.top_main .cards1 .card2 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.top_main .cards1 .card2 .title span {
  margin-left: 13px;
}
.top_main .cards1 .card3 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.top_main .cards1 .card3 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.top_main .cards1 .card3 img {
  margin-top: 5px;
}
.top_main .cards1 .card3 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.top_main .cards1 .card3 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.top_main .cards1 .card3 .title span {
  margin-left: 13px;
}
.top_main .cards1 .card4 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.top_main .cards1 .card4 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.top_main .cards1 .card4 img {
  margin-top: 5px;
}
.top_main .cards1 .card4 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.top_main .cards1 .card4 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.top_main .cards1 .card4 .title span {
  margin-left: 13px;
}

.cards2 {
  width: 1219px;
  height: 370px;
  margin-top: 120px;
  margin-left: 120px;
  display: flex;
}
.cards2 h1 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 2%;
  color: #fff;
  margin: 0;
}
.cards2 .card1 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
}
.cards2 .card1 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards2 .card1 img {
  margin-top: 5px;
}
.cards2 .card1 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards2 .card1 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards2 .card1 .title span {
  margin-left: 13px;
}
.cards2 .card2 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards2 .card2 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards2 .card2 img {
  margin-top: 5px;
}
.cards2 .card2 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards2 .card2 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards2 .card2 .title span {
  margin-left: 13px;
}
.cards2 .card3 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards2 .card3 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards2 .card3 img {
  margin-top: 5px;
}
.cards2 .card3 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards2 .card3 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards2 .card3 .title span {
  margin-left: 13px;
}
.cards2 .card4 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards2 .card4 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards2 .card4 img {
  margin-top: 5px;
}
.cards2 .card4 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards2 .card4 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards2 .card4 .title span {
  margin-left: 13px;
}

.cards3 {
  width: 1219px;
  height: 370px;
  margin-top: 120px;
  margin-left: 120px;
  display: flex;
}
.cards3 h1 {
  font-family: "Lato";
  font-weight: 800;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 2%;
  color: #fff;
  margin: 0;
}
.cards3 .card1 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
}
.cards3 .card1 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards3 .card1 img {
  margin-top: 5px;
}
.cards3 .card1 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards3 .card1 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards3 .card1 .title span {
  margin-left: 13px;
}
.cards3 .card2 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards3 .card2 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards3 .card2 img {
  margin-top: 5px;
}
.cards3 .card2 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards3 .card2 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards3 .card2 .title span {
  margin-left: 13px;
}
.cards3 .card3 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards3 .card3 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards3 .card3 img {
  margin-top: 5px;
}
.cards3 .card3 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards3 .card3 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards3 .card3 .title span {
  margin-left: 13px;
}
.cards3 .card4 {
  width: 267px;
  height: 320px;
  margin-top: 16px;
  margin-left: 50px;
}
.cards3 .card4 h3 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 2%;
  text-align: end;
  color: rgba(255, 255, 255, 0.8);
}
.cards3 .card4 img {
  margin-top: 5px;
}
.cards3 .card4 .title {
  width: 224px;
  height: 27px;
  margin-top: 15px;
  display: flex;
}
.cards3 .card4 .title h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 5px 0;
}
.cards3 .card4 .title span {
  margin-left: 13px;
}

footer {
  width: 100%;
  padding: 130px 122px 40px 122px;
  display: flex;
  justify-content: space-between;
  font-family: "poppins", sans-serif;
}
footer .logo h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6c5dd3;
  margin-bottom: 20px;
}
footer .logo p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
}
footer .about h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .about p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .company h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .company p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .contact h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .contact p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.5098039216);
  margin-bottom: 20px;
}
footer .contact span {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
footer .contact span .bx {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.5098039216);
}/*# sourceMappingURL=shows1.css.map */